<header>
      <nav style="background-color:white;" class="fixed-top">
        <div class="navbar mx-5">
          <div class="navb-brand">
            <img src="img/Instagram Logo.svg" alt="" />
          </div>
          <div class="nav-search">
            <input type="search" placeholder="search" />
          </div>
          <div class="nav-right">
            <a class="newpost mr-5">+ NEW POST</a>
            <img src="img/main-menu.svg" alt="" class="mr-5" />
            <img src="" alt="" />
            <a href="" class="avatar">
              <img
                class="rounded-circle"
                alt=""
                src="http://lorempixel.com/30/30/people/9/"
              />
            </a>
          </div>
        </div>
      </nav>
    </header>