* {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-weight: bold;
  margin: 0;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: -webkit-transform 80ms ease-in;
  transition: -webkit-transform 80ms ease-in;
  transition: transform 80ms ease-in;
  transition: transform 80ms ease-in, -webkit-transform 80ms ease-in;
}

button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

form {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10%;
  height: 100%;
  text-align: center;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

.container1 {
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container1.right-panel-active .sign-in-container {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.container1.right-panel-active .sign-up-container {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  -webkit-animation: show 0.6s;
          animation: show 0.6s;
}

@-webkit-keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  z-index: 100;
}

.container1.right-panel-active .overlay-container {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.overlay {
  background: #ff416c;
  background: -webkit-gradient(linear, left top, right top, from(#ff4b2b), to(#ff416c));
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.container1.right-panel-active .overlay {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.overlay-left {
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.overlay-right {
  right: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.container1.right-panel-active .overlay-right {
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}

@media (min-width: 200px) {
  .container1 {
    width: 400px;
  }
  .container1 h1 {
    font-size: 25px;
  }
  .overlay-right h1 {
    padding-left: 70px;
  }
  .overlay-right button {
    margin-left: 70px;
  }
  .overlay-right p {
    text-align: center;
    padding-left: 70px;
    font-size: 15px;
  }
  .overlay-left h1 {
    padding-right: 70px;
  }
  .overlay-left button {
    margin-right: 70px;
  }
  .overlay-left p {
    text-align: center;
    padding-right: 70px;
    font-size: 15px;
  }
}

body .feed {
  background-color: #f1f5f8;
}

nav .navbar {
  background-color: white;
}

.nav-search input[type="search"] {
  background-color: white;
  border: 1px solid #979797;
  height: 32px;
  width: 282px;
  text-align: center;
  border-radius: 2px;
}

a.newpost {
  height: 32px;
  width: 130px;
  background: -webkit-gradient(linear, left top, right top, from(#4e60d3), color-stop(11%, #903baf), color-stop(81%, #d52d87), to(#f26d4f));
  background: linear-gradient(to right, #4e60d3 0%, #903baf 11%, #d52d87 81%, #f26d4f 100%);
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 7px 18px;
  color: white !important;
  border-radius: 2px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .nav-search input {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .nav-search input {
    display: none;
  }
  .navb-brand,
  .nav-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-bottom: 5px;
  }
  .navbar {
    background-color: #fff !important;
    padding-top: 40px !important;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .nav-search input {
    display: none;
  }
  .navb-brand,
  .nav-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-bottom: 5px;
  }
  a.newpost {
    font-size: 8px !important;
    margin-right: 10px !important;
    padding: 10px;
  }
  .navbar {
    background-color: #fff !important;
    padding-top: 40px !important;
  }
}

.card {
  padding-top: 20px;
  margin: 10px 0 20px 0;
  height: 263px;
  width: 280px;
  border-top-width: 0;
  border-bottom-width: 2px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffffff !important;
  -webkit-box-shadow: 0 0 0 1px #edeeee !important;
          box-shadow: 0 0 0 1px #edeeee !important;
}

.card2 {
  padding-top: 20px;
  margin: 10px 0 20px 0;
  height: 331px;
  width: 280px;
  border-top-width: 0;
  border-bottom-width: 2px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffffff !important;
  -webkit-box-shadow: 0 0 0 1px #edeeee !important;
          box-shadow: 0 0 0 1px #edeeee !important;
}

.card3 {
  padding-top: 20px;
  margin: 10px 0 20px 0;
  width: 230px;
  height: 300px;
  border-top-width: 0;
  border-bottom-width: 2px;
  border-radius: 3px;
  -webkit-box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffffff !important;
}

.placeholder-img img {
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card .card-heading {
  padding: 0 20px;
  margin: 0;
}

.card .card-heading.simple {
  font-size: 20px;
  font-weight: 100;
  color: #777;
}

.card .card-heading.image img {
  display: inline-block;
  width: 46px;
  height: 46px;
  margin-right: 15px;
  vertical-align: top;
  border: 0;
  border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
  display: inline-block;
  vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  color: #262626;
}

.card .card-heading.image .card-heading-header span {
  font-size: 12px;
  color: #999999;
}

.card .card-body {
  padding: 0 20px;
  margin-top: 20px;
}

.card .card-media {
  padding: 0 20px;
  margin: 0 -14px;
}

.card .card-media img {
  max-width: 100%;
  max-height: 100%;
}

.card .card-actions {
  min-height: 30px;
  padding: 0 20px 20px 20px;
  margin: 20px 0 0 0;
}

.card .card-comments {
  padding: 20px;
  margin: 0;
  background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
  padding: 0;
  margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
  padding-right: 5px;
  overflow: hidden;
  font-size: 12px;
  color: #999;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-comments .media-heading {
  font-size: 13px;
  font-weight: bold;
}

.card.people {
  position: relative;
  display: inline-block;
  width: 170px;
  height: 300px;
  padding-top: 0;
  margin-left: 20px;
  overflow: hidden;
  vertical-align: top;
}

.card.people:first-child {
  margin-left: 0;
}

.card.people .card-top {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 170px;
  height: 150px;
  background-color: #ffffff;
}

.card.people .card-top.green {
  background-color: #53a93f;
}

.card.people .card-top.blue {
  background-color: #427fed;
}

.card.people .card-info {
  position: absolute;
  top: 150px;
  display: inline-block;
  width: 100%;
  height: 101px;
  overflow: hidden;
  background: #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.card.people .card-info .title {
  display: block;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #404040;
}

.card.people .card-info .desc {
  display: block;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 12px;
  line-height: 16px;
  color: #737373;
  text-overflow: ellipsis;
}

.card.people .card-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  line-height: 29px;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.card.hovercard {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
  background-color: rgba(214, 224, 226, 0.2);
}

.card.hovercard .cardheader {
  background: -webkit-gradient(linear, left top, right top, from(#4e60d3), color-stop(11%, #903baf), color-stop(81%, #d52d87), to(#f26d4f));
  background: linear-gradient(to right, #4e60d3 0%, #903baf 11%, #d52d87 81%, #f26d4f 100%);
  background-size: cover;
  height: 135px;
}

.card.hovercard .avatar {
  position: relative;
  top: -50px;
  margin-bottom: -50px;
}

.card.hovercard .avatar img {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}

.card.hovercard .info {
  padding: 4px 8px 10px;
}

.card.hovercard .info .title {
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 1;
  color: #262626;
  vertical-align: middle;
}

.card.hovercard .info .desc {
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis;
}

.card.hovercard .bottom {
  padding: 0 20px;
  margin-bottom: 17px;
}

.btn {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  line-height: 18px;
}

.profimg {
  overflow: hidden;
  height: 267px;
  width: 267px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .card2 {
    width: 100%;
  }
  .card {
    width: 100%;
  }
  .card3 {
    width: 100%;
  }
  .placeholder-img img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .footer {
    display: none;
  }
  header.container-fluid.cont-prof {
    margin-top: 30% !important;
  }
  .profimg {
    overflow: hidden;
    height: 200px;
    width: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .row.main {
    margin-top: 200px !important;
  }
  .card2 {
    width: 100%;
  }
  .card {
    width: 100%;
  }
  .card3 {
    width: 100%;
  }
  .profilename h5 {
    font-size: 10px;
  }
  .placeholder-img img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .container-fluid {
    margin-top: 160px !important;
  }
  .footer {
    display: none;
  }
  .profimg {
    overflow: hidden;
    height: 150px;
    width: 150px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .container-fluid {
    margin-top: 130px !important;
    margin: 0 20px;
  }
  .title {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .title p {
    text-align: center !important;
    width: 100% !important;
  }
  .avatar {
    display: none;
  }
  .card {
    width: 100%;
  }
  .card2 {
    width: 100%;
  }
  .footer {
    display: none;
  }
  .profimg {
    overflow: hidden;
    height: 100px;
    width: 100px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.img-left {
  height: 500px;
  width: 100%;
  overflow: hidden;
}

form.login-form {
  background: white !important;
  height: 90vh;
  width: 95%;
  z-index: 10;
  -webkit-box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.1);
}

.sign-upform {
  background: white !important;
  height: 90vh;
  width: 50%;
  z-index: 10;
  -webkit-box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.1);
}

@media (min-width: 481px) and (max-width: 767px) {
  .sign-upform {
    width: 90%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .sign-upform {
    width: 90%;
  }
}

form input.input {
  background: transparent;
  border: 1px solid grey;
  border-radius: 2px;
  background: #FFFFFF;
}

input::-webkit-input-placeholder {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

input:-ms-input-placeholder {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

input::-ms-input-placeholder {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

input::placeholder {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

input.btn-login {
  border-radius: 2px;
}
/*# sourceMappingURL=main.css.map */