{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Pacifico"
      rel="stylesheet"
    />


    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'main.css' %}" />
    <title>Instaclone</title>
</head>
<body style="background-color: #F1F5F8">
    <main>
        <div class="bootomsvg">
            <img src="{% static 'login-back.svg' %}" alt="" style="position:absolute; bottom:0; right:0;">
        </div>
        <div class="container">
            <div class="row">

            <div class="col-md-6 col-sm-12">
                <form method="POST" action="{% url 'login' %}" class="login-form mt-5">
                    {% csrf_token %}
                    <img src="{% static 'Instagram Logo.svg' %}" alt="">
                    <input type="text" placeholder="Username" class="mt-5 input" name="username">
                    <br>
                    <input type="password" placeholder="Password" class="input" name="password">
                    <a href="#" class="w-100 d-flex justify-content-end m-0" style="color: #9939AA">Forgot password?</a>
                    <input type="submit" value="login"class="btn-login" style=" color:white;background-image: linear-gradient(-138deg, #4E60D3 0%, #913BAF 14%, #D52D88 76%, #F26D4F 100%);">
                    <p class="m-0">No account yet?lets help you with that <a href="{% url 'signup' %}">Sign Up Here</a></p>
                </form>
            </div>
            <div class="col-md-6 d-sm-none d-md-block">
                <img src="{% static 'couple.svg' %}" alt="">
            </div>
            </div>
        </div>

    </main>

</body>
</html>